# trio_redis.
hiredis==1.0.1
trio==0.13.0

# Flake8.
flake8-comprehensions==3.1.4
flake8-fixme==1.1.1
flake8-quotes==2.1.1
flake8==3.7.9

# Tests.
coverage==4.5.4
pytest-cov==2.8.1
pytest-trio==0.5.2
pytest==5.3.1
